<script>
	import { JSONEditor } from "svelte-jsoneditor";
	import { marked } from "marked";
	import TagsInput from "./TagsInput.svelte";
	import { getAncestors } from "./graphutil.js";
	import { createEventDispatcher } from "svelte";

	export let selectedItem;
	export let graph;
	export let config = {mode: 'viewonly'};

	let showLitReview = false;

	function isEditingEnabled(){
		return config.mode == 'editor';
	}

	const dispatch = createEventDispatcher();
	const swatch_colors = [
		"#d0021bff",
		"#f5a623ff",
		"#bbae0eff",
		"#8b572aff",
		"#7ed321ff",
		"#417505ff",
		"#b00b0bff",
		"#9013feff",
		"#4a90e2ff",
		"#16b591ff",
		"#b8e986ff",
		"#000000ff",
		"#444444ff",
		"#888888ff",
		"#ccccccff",
		"#ffffffff",
	];

	function handleInputChange(e, field) {
		if (
			field.split("_")[0] == "text" ||
			field.split("_")[0] == "color" ||
			field.split("_")[0] == "url"
		) {
			selectedItem.forEach(
				(item) => (item[field.split("_")[1]] = e.target.value)
			);
		} else if (field.split("_")[0] == "number") {
			selectedItem.forEach(
				(item) =>
					(item[field.split("_")[1]] =
						e.target.value === ""
							? null
							: JSON.parse(e.target.value))
			);
		} else if (field.split("_")[0] == "checkbox") {
			selectedItem.forEach(
				(item) => (item[field.split("_")[1]] = e.target.checked)
			);
		} else {
			selectedItem.forEach(
				(item) =>
					(item[field.split("_")[1]] = JSON.parse(e.target.value))
			);
		}
		dispatch("graphchanged", graph);
	}

	function handleJsonChange(updatedContent, previousContent, patchResult) {
		selectedItem[0].custom = updatedContent.json;
		dispatch("graphchanged", graph);
	}

	$: ancestors = getAncestors(graph, selectedItem[0], 0);
</script>

{#if selectedItem.length == 1 && ["node", "edge", "note"].includes(selectedItem[0]?.kind)}
	<h1>
		{selectedItem[0].label}
		{#if false && ["node"].includes(selectedItem[0]?.kind)}
			<sl-button
				variant="default"
				size="small"
				circle
				on:click={(e) => (showLitReview = true)}
			>
				<sl-icon name="gear" label="Settings" />
			</sl-button>
		{/if}
	</h1>

	{#if ["node", "edge"].includes(selectedItem[0]?.kind)}
		<p class="itemdesc">{@html marked(selectedItem[0].desc)}</p>
	{/if}
{:else}
	<h1>Multiple nodes</h1>
{/if}

{#if selectedItem.length == 1 && isEditingEnabled()}
	<div class="node-panel">
		<!-- <sl-input 
			label="ID" type='number' size="small"
			value={selectedItem.id} 
			on:input={e => handleInputChange(e, 'number_id')}>
		</sl-input> -->

		<sl-input
			label="Label"
			type="text"
			size="small"
			value={selectedItem[0].label}
			on:sl-change={(e) => handleInputChange(e, "text_label")}
		/>

		{#if selectedItem[0].kind === "node" || selectedItem[0].kind === "note"}
			<sl-textarea
				label="Notes"
				placeholder="Notes (these will be shown in the graph)..."
				size="small"
				on:sl-change={(e) => handleInputChange(e, "text_notes")}
				value={selectedItem[0].notes}
			/>
		{/if}

		{#if selectedItem[0].kind !== "note"}
			<sl-textarea
				label="Description"
				placeholder="Description in markdown..."
				size="small"
				on:sl-change={(e) => handleInputChange(e, "text_desc")}
				value={selectedItem[0].desc}
			>
				<p slot="help-text">
					<a
						href="https://www.markdownguide.org/cheat-sheet/"
						target="_blank">Learn about MarkDown</a
					>
				</p>
			</sl-textarea>

			{#key selectedItem[0]}
			<TagsInput
				tags={selectedItem[0].tags}
				on:tagschanged={(e) => {
					selectedItem[0].tags = e.detail.value;
					dispatch("graphchanged", graph);
				}}
			/>
			{/key}
		{/if}

		{#if selectedItem[0].kind === "node"}
			<sl-select
				label="Badge"
				clearable
				value={selectedItem[0].badge || ""}
				placeholder="Select badge"
				on:sl-change={(e) => handleInputChange(e, "text_badge")}
			>
				{#if selectedItem[0].badge?.startsWith("http")}
					<img
						width="30"
						height="28"
						alt="badge"
						src={selectedItem[0].badge}
						slot="prefix"
					/>
				{/if}
				{#each graph.theme.badges as badge}
					<sl-option
						value={badge}
						selected={selectedItem[0].badge === badge}
					>
						{#if badge.startsWith("http")}
							<img
								width="30"
								height="28"
								alt="badge"
								src={badge}
								class="http-badge"
							/>
						{:else}
							{badge}
						{/if}
					</sl-option>
				{/each}
			</sl-select>
		{/if}
	</div>
{/if}

{#if selectedItem[0].kind !== "edge" && isEditingEnabled()}
	<div class="node-colors">
		<div class="node-color">
			<sl-color-picker
				format="hex"
				size="small"
				value={selectedItem[0].fill}
				label={`Select fill color`}
				opacity
				swatches={swatch_colors}
				on:sl-change={(e) => handleInputChange(e, "color_fill")}
			/>
			<span>Fill</span>
		</div>

		<div class="node-color">
			<sl-color-picker
				format="hex"
				size="small"
				value={selectedItem[0].bordercolor}
				label={`Select border color`}
				opacity
				swatches={swatch_colors}
				on:sl-change={(e) => handleInputChange(e, "color_bordercolor")}
			/>
			<span>Border</span>
		</div>

		<div class="node-color">
			<sl-color-picker
				format="hex"
				size="small"
				value={selectedItem[0].labelcolor}
				label={`Select label color`}
				opacity
				swatches={swatch_colors}
				on:sl-change={(e) => handleInputChange(e, "color_labelcolor")}
			/>
			<span>Label</span>
		</div>
	</div>

	<div class="node-colors">
		<sl-input
			label="URL of Background Image"
			type="url"
			size="small"
			style="width:100%;"
			value={selectedItem[0].backgroundImageURL || ""}
			on:input={(e) => handleInputChange(e, "url_backgroundImageURL")}
		/>
	</div>

	<div class="node-colors">
		<sl-input
			label="Label Font Size"
			type="number"
			size="small"
			placeholder="16"
			style="width:40%;"
			min="12"
			max="64"
			step="1"
			value={selectedItem[0].nodelabelfontsize ||
				graph.theme.nodelabelfontsize ||
				16}
			on:input={(e) => handleInputChange(e, "number_nodelabelfontsize")}
		/>

		<sl-input
			label="Notes Font Size"
			type="number"
			size="small"
			placeholder="16"
			style="width:40%;"
			min="12"
			max="48"
			step="1"
			value={selectedItem[0].nodenotesfontsize ||
				graph.theme.nodenotesfontsize ||
				16}
			on:input={(e) => handleInputChange(e, "number_nodenotesfontsize")}
		/>
	</div>
{:else if selectedItem[0].kind === "edge" && isEditingEnabled()}
	<!-- edge -->
	<div class="edge-panel">
		<sl-checkbox
			style="width:100%;"
			on:sl-change={(e) => handleInputChange(e, "checkbox_directed")}
			checked={selectedItem[0].directed}
		>
			Directed
		</sl-checkbox>

		<div class="edge-stroke">
			<sl-color-picker
				format="hex"
				size="small"
				value={selectedItem[0].stroke}
				label={`Select stroke color`}
				opacity
				swatches={swatch_colors}
				on:sl-change={(e) => handleInputChange(e, "color_stroke")}
			/>
			<span class="title">Stroke</span>
		</div>

		<sl-input
			label="Weight"
			type="number"
			value={selectedItem[0].weight}
			on:sl-change={(e) => handleInputChange(e, "number_weight")}
		/>

		<sl-select
			label="Shape"
			value={selectedItem[0].shape}
			placeholder="Select shape"
			on:sl-change={(e) => handleInputChange(e, "text_shape")}
		>
			<sl-option
				value="straight"
				selected={selectedItem[0].shape === "straight"}
				>straight</sl-option
			>
			<sl-option
				value="curved"
				selected={selectedItem[0].shape === "curved"}
				>curved</sl-option
			>
			<sl-option
				value="ortho"
				selected={selectedItem[0].shape === "ortho"}>ortho</sl-option
			>
		</sl-select>

		<sl-select
			label="StrokeType"
			value={selectedItem[0].strokeType}
			placeholder="Select strokeType"
			on:sl-change={(e) => handleInputChange(e, "text_strokeType")}
		>
			<sl-option
				value="solid"
				selected={selectedItem[0].strokeType === "solid"}
				>solid</sl-option
			>
			<sl-option
				value="dashed"
				selected={selectedItem[0].strokeType === "dashed"}
				>dashed</sl-option
			>
			<sl-option
				value="dotted"
				selected={selectedItem[0].strokeType === "dotted"}
				>dotted</sl-option
			>
		</sl-select>
	</div>
{/if}

{#if graph.customjson && selectedItem.length == 1 && (selectedItem[0].kind === "node" || selectedItem[0].kind === "edge") && isEditingEnabled()}
	<div class="row">
		<span><strong>custom</strong></span>
		<JSONEditor
			content={{ json: selectedItem[0].custom || {} }}
			onChange={handleJsonChange}
		/>
	</div>
{/if}

{#if selectedItem.length == 1 && ["node"].includes(selectedItem[0]?.kind)}
	<sl-dialog
		label="Literature Review for {selectedItem[0].label}"
		style="--width: 50vw;"
		open={showLitReview}
		on:sl-hide={(e) => (showLitReview = false)}
	>
		<p class="itemdesc">{@html marked(selectedItem[0].desc)}</p>
		{#each ancestors as anc1}
			<div class="details-group-example">
				<sl-details summary={anc1.node.label} open>
					<!-- <summary>{anc1.node.label}</summary> -->
					{#if anc1.node.desc}
						<p class="itemdesc">{@html marked(anc1.node.desc)}</p>
					{/if}
					{#each anc1.parents as anc2}
						<sl-details summary={anc2.node.label}>
							<!-- <summary>{anc2.node.label}</summary> -->
							{#if anc2.node.desc}
								<p class="itemdesc">
									{@html marked(anc2.node.desc)}
								</p>
							{/if}
							{#each anc2.parents as anc3}
								<sl-details summary={anc2.node.label}>
									<!-- <summary>{anc3.node.label}</summary> -->
									{#if anc3.node.desc}
										<p class="itemdesc">
											{@html marked(anc3.node.desc)}
										</p>
									{/if}
								</sl-details>
							{/each}
						</sl-details>
					{/each}
				</sl-details>
			</div>
		{/each}
		<sl-button
			slot="footer"
			variant="primary"
			on:click={(e) => (showLitReview = false)}>Close</sl-button
		>
	</sl-dialog>
{/if}

<style>
	h1 {
		text-align: center;
		font-family: Roboto Condensed;
	}
	.node-panel,
	.edge-panel {
		width: 90%;
		margin: 20px auto;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	div.node-colors {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		width: 90%;
		margin: 30px auto;
	}

	div.node-color {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 8px;
		background-color: whitesmoke;
	}

	div.node-color span {
		width: 60px;
		text-align: center;
	}

	div.edge-stroke {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 16px;
	}
	.title {
		grid-column: 1/3;
		text-align: end;
	}

	.itemdesc {
		padding: 10px 30px;
	}

	p.itemdesc {
		font-size: 14px;
		color: #888;
	}

	.http-badge {
		display: flex;
		justify-self: center;
	}
	/* details {
		padding-left: 15px;;
	} */
</style>
